* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .main-cont {
    height: 100vh;
    background-size: cover;
    margin-bottom: 30px;
  }
  .container {
    max-width: 1380px;
    margin: auto;
    padding: 30px 30px;
    background: transparent;
  }
  .logo img {
    width: 280px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*  background-color: gray; */
  }
  nav {
    display: flex;
    text-align: right;
  }
  nav ul {
    list-style-type: none;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: inline-block;
    font-size: 20px;
    color: black;
  }
  
  a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 15px;
    position: relative;
  }
  a::after {
    content: "";
    height: 3px;
    width: 0;
    /* background-color: orange; */
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
  }
  a:hover::after {
    width: 100%;
  }
  .small-cont {
    display: flex;
    max-width: 1300px;
    margin: auto;
    /* justify-content: center; */
  }
  .menu-icon {
    display: none;
    /* margin-right: -90px; */
  }
  
  @media only screen and (max-width: 800px) {
    .menu-icon {
      display: block;
    }
    nav ul {
      position: absolute;
      overflow: hidden;
      top: 70px;
      left: 0;
      background: orange;
      text-align: center;
      margin-top: 20px;
      width: 100%;
      padding: 0;
    }
    nav ul li {
      display: block;
    }
    nav ul li {
      color: rgb(20, 19, 19);
      padding: 0 10px;
      font-weight: bold;
      margin: 0px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }
  #pre-loader {
    background: black url(images/293.gif) no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    flex-wrap: wrap;
  }
  /*--------------------------------------------home----------------------------------------*/
  .home-cont{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    /* background-size: cover; */
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40vw;
   background-color: black;
    justify-content: center;
  }
  .home-cont1{
   
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    line-height: 40px;
    
  }
  .home-cont2{
  
    width: 40vw;
   
  }
  .img{
    width: 40vw;
    height: 100vh;
  }
  /* hr{
    width: 30vw;
    border: 2px solid yellow;
    border-top-right-radius: 20px;
    margin: 2px;
    text-align: center;
   
  } */
  .heading{
    font-family: Bodoni Moda SC;
    font-size: 20px;
    /* margin-left: 60px; */
    text-align: center;
    color: whitesmoke;
  }
  .heading1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    /* text-align: center; */
    text-align: center;
    color: whitesmoke;
  
  }
  span{
    color: rgb(231, 155, 26);
    font-family:Bungee Tint;
  
  }
  .para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    line-height: 20px;
    color: whitesmoke;
    margin-left: 20px;
    line-height: 190%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
   
  
  }
  .btn{
    width:10vw;
    background-color:rgb(231, 155, 26);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 6vh;
    border: 0px solid transparent;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    margin-top: 4px;
    font-size: 16px;
  }
  .home1-cont{
    width: 100%;
    background-color: black;
    margin-top: 1px;
    height: 20vh;
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
    
  }
  .home1-cont1{
    background-color:rgb(231, 155, 26) ;
    width: 40%;
    height: 20vh;
    display: flex;
    line-height: 20px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
  }
  .home1-cont1:hover{
    background-color: whitesmoke;
  }
  .home1-cont2{
    background-color: rgb(231, 155, 26);
    width: 45%;
    height: 20vh;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    z-index: 5;
  }
  .servi:hover{
    background-color: whitesmoke;
  }
  
  .servi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 45%;
    height: 18vh;
    border-radius: 10px;
  }
  .lxo{
    margin: 10px;
    font-size: 18px;
    width: 20vw;
  }
  .lco{
    font-size: 20px;
    margin-top: 20px;
  }
  
  p,h2,h5{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  @media only screen and (min-width:375px) and  (max-width:1400px)  {
    .home-cont{
      display: flex;
      flex-direction: column;
      /* background-color: blue; */
      justify-content: center;
      align-items: center;
      height: 150vh;
    }
    .home-cont1{
      margin-top: 29px;
      width: 80%;
      height: 40vh;
      align-items: center;
      
    }
  
    .img{
      width: 80%;
      height: 50vh;
      margin-left: 50px;
      
    }
    .heading1{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 25px;
      /* text-align: center; */
      text-align: center;
      color: whitesmoke;
      margin-top: -10px;
      line-height: normal;
    }
    .heading{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 15px;
      margin-left: 10px;
      text-align: center;
      color: whitesmoke;
      margin-top: 30px;
    }
    .para{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: whitesmoke;
      line-height: 20px;
      margin-top: 40px;
  
  /*   
      margin-left: 20px;
      line-height: 190%;
      height: 30vh; */
      /* align-items: center;
      justify-content: center;
      display: flex; */
     
    
    }
    .btn{
    width: 50vw;
    background-color:rgb(231, 155, 26);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    border: 0px solid transparent;
    border-radius: 6px;
    text-align: center;
    margin-top: 40px;
  
    }
    .home-cont2{
      margin-top: 150px;
      width: 80%;
      height: 50vh;
    }  
    .home1-cont{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       height: 90vh;
    }
    .home1-cont1{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      height: 30vh;
     
  
     
    }
   
    .home1-cont2{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 40vh;
      width: 40vw;
    
     
  
    }
    .servi{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      width: 30vw;
      height: 18vh;
      border-radius: 10px;
    }
  }
  /*---------------------------------------------services---------------------------*/
  .haa{
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    
   
  
  }
  .haa1:hover{
    background-color: whitesmoke;
    transform: translateX(10px);
  
   
  }
  
  .haa1{
    background-color:rgb(231, 155, 26);
    width:28vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   transition: transform 0.3s;
    margin: 10px;
    border-radius: 10px;
  
   
  }
  h5{
    margin-top: 20px;
    font-size: 20px;
  }
  h1{
    text-align: center;
  font-size: 27px;
  }
  .btn1{
    width: 12vw;
    background-color:rgb(231, 155, 26);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 5vh;
    border: 0px solid transparent;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    cursor: progress;
  
  
    }
  .haa2{
    background-color:rgb(231, 155, 26);
    width:28vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 10px;
    border-radius: 10px;
    /* align-items: center; */
    transition: transform 0.3s;
  }
  .img2{
    width: 90px;
    margin-top: 20px;
  }
  .dead{
    margin-left: -100px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .dea{
    text-align: left;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .deabtn{
    width: 16vw;
    background-color: rgb(231, 155, 26);
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    cursor: progress;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .haa2:hover{
    background-color: whitesmoke;
    transform: translateX(10px);
  
   
  }
  .haa3{
    background-color:rgb(231, 155, 26);
    width:28vw;
    height: 45vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    margin: 10px;
    transition: transform 0.3s;
    /* align-items: center; */
  }
  .haa3:hover{
    background-color: whitesmoke;
    transform: translateX(10px);
   
  }
  .kwks{
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }
  .kwks1{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .haa4{
    background-color:rgb(231, 155, 26);
    width:28vw;
    height: 45vh;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    /* justify-content:center; */
    margin: 10px;
    /* align-items: center; */
    transition: transform 0.3s;
    
  }
  .haa4:hover{
    background-color: whitesmoke;
    transform: translateX(10px);
    border-radius: 10px;
  }
  .haa5{
    background-color:rgb(231, 155, 26);
    width:28vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content:center; */
    margin: 10px;
    /* align-items: center; */
    transition: transform 0.3s;
  }
  .haa5:hover{
    background-color: whitesmoke;
    transform: translateX(10px);
    border-radius: 10px;
  }
  .haa6{
    background-color: rgb(231, 155, 26);
    width:28vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content:center; */
    margin: 10px;
    /* align-items: center; */
    transition: transform 0.3s;
  }
  .haa6:hover{
    background-color: whitesmoke;
    transform: translateX(10px);
   
   
  }
  @media only screen and (min-width:375px)and (max-width:1400px)  {
    .haa{
      width: 100%;
      height: 400vh;
      background-color: black;
      margin-top: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
     
    
    }
    .kwks{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -240px;
      
    
    }
    .kwks1{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -50px;
      
    }
    .haa1{
      background-color:rgb(231, 155, 26);
      width:65vw;
      height: 55vh;
      display: flex;
      justify-content: space-around;
      margin: 10px;
      align-items: center;
      margin-top: 150px;
     
    }
    .haa2{
      background-color:rgb(231, 155, 26);
      width:55vw;
      height: 60vh;
      display: flex;
      justify-content: center;
      margin: 10px;
      align-items: center;
    }
    .haa3{
      background-color:rgb(231, 155, 26);
      width:55vw;
      height: 60vh;
      display: flex;
      justify-content:center;
      margin: 10px;
  
      align-items: center;
    }
    .kwks{
      display: flex;
      align-items: center;
      justify-content: center;
      
    
    }
    .kwks1{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -200px;
      
    }
    .haa4{
      background-color:rgb(231, 155, 26);
      width:55vw;
      height: 60vh;
      display: flex;
      justify-content:center;
      margin: 10px;
      align-items: center;
      margin-top: 140px;
      
    }
    .haa5{
      background-color:rgb(231, 155, 26);
      width:55vw;
      height: 60vh;
      display: flex;
      justify-content:center;
      margin: 10px;
      align-items: center;
      margin-top:  40px;
    }
    .haa6{
      background-color: rgb(231, 155, 26);
      width:55vw;
      height: 60vh;
      display: flex;
      justify-content:center;
      margin: 10px;
      align-items: center;
    }
    .dead{
      margin-right: -110px;
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .dea{
      text-align: left;
      margin-left: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .btn1{
      width: 45vw;
      background-color:rgb(231, 155, 26);
      color: whitesmoke;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      height: 10vh;
      border: 0px solid transparent;
      border-radius: 6px;
      margin-left: 10px;
      margin-top: 1px;
      font-size: 20px;
      color: black;
      cursor: progress;
    
    
      }
      .deabtn{
        width: 35vw;
        background-color: rgb(231, 155, 26);
        margin-top: 10px;
        margin-left: 18px;
        height: 40px;
        cursor: progress;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .img2{
        width: 90px;
        margin-top:20px;
        margin: 30px;
      }
  }
  /*---------------------------------------------------contact---------------------------------*/
  .conatct-cont{
    background-image: url(images/portrait-man-doing-household-chores-participating-cleaning-home.jpg);
    background-size: cover;
    background-position: center;
  
    width: 100%;
    height: 70vh;
     
  }
  
  .contact-cont1{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .d1{
   color: whitesmoke;
  
  }
  hr{
    width: 13vw;
    background-color: rgb(231, 155, 26);
    height: 5px;
    border: 0px transparent;
    border-top-right-radius: 10px;
  }
  .d2{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: 10px;
  }
  .d3{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    
  }
  .contact1-cont1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    background-color: black;
  }
  .contact2-cont2{
    background-color: rgb(12, 12, 12);
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
   
  }
  .cont{
    color: whitesmoke;
    font-size: 40px;
  }
  .cont1{
    color: whitesmoke;
    font-size: 20px;
  }
  .contact3-cont3{
    background-color: rgb(3, 3, 3);
    width: 40%;
    height: 80vh;
    align-items: center;
    /* justify-content: center; */
    display: flex;
  
  }
  .btn-contact{
   background-color: rgb(231, 155, 26);
   height: 5vh;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 15px;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
   cursor: progress;
  }
  .btn-contact:hover{
    background-color: whitesmoke;
    border: 0px solid transparent;
  }
  .map-cont{
    background-color: rgb(5, 5, 5);
    width: 37vw;
    height: 40vh;
    cursor: pointer;
  
  
  }
  
  address{
    margin: 0px;
    line-height: 30px;
    padding: 30px;
  }
  .fa-solid{
    margin: 20px;
    color: whitesmoke;
  }
  label{
    color: whitesmoke;
  }
  input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  
    
  }
  
  input[type=submit] {
    background-color: rgb(231, 155, 26);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(231, 155, 26);
  }
  .map,iframe{
    width: 100%;
    height: 50vh;
  }
  @media only screen and (min-width:375px)and (max-width:1400px)  {
    .conatct-cont{
      background-image: url(images/portrait-man-doing-household-chores-participating-cleaning-home.jpg);
      background-size: cover;
      background-position: center;
    
      width: 100%;
      height: 140vh;
      opacity: linear black
      0.5;
      margin-top: 3px;
    }
    .contact-cont1{
      height: 140vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .d1{
      color: whitesmoke;
      font-size: 10px;
     
     }
     hr{
       width: 19vw;
       background-color: rgb(231, 155, 26);
       height: 5px;
       border: 0px transparent;
       border-top-right-radius: 10px;
       align-self: flex-start;
     }
     .d2{
       color: whitesmoke;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight: 300;
       font-size: 30px;
       margin: 10px;
     }
     .d3{
       color: whitesmoke;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight: 300;
       font-size: 13px;
       text-align: center;
       width: 100%;
     }
     .contact1-cont1{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: -60px;
      
    }
    .contact2-cont2{
      background-color: rgb(9, 9, 9);
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 130vh;
    }
    .cont{
      color: whitesmoke;
      font-size: 10;
      text-align: left;
      
    }
    .cont1{
      color: whitesmoke;
      text-align: left;
      width: 100%;
      font-size: 17px;
      
     
    }
    .btn-contact{
      background-color: rgb(231, 155, 26);
      height: 8vh;
      text-align: center;
      width: 50vw;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 15px;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      margin-left: -180px;
      cursor: progress;
     }
     .btn-contact:hover{
       background-color: whitesmoke;
       border: 0px solid transparent;
     }
    address{
      display: flex;
      flex-direction: column;
      width: 290%;
      margin-left: -150px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      /* background-color: rgb(32, 144, 144); */
    }
    .contact3-cont3{
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 120vh;
    }
    label{
      color: whitesmoke;
      font-size: 10px;
    
    }
    input[type=phone]{
      width: 80%;
    }
    input[type=text],select, textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 20px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color:rgb(231, 155, 26);
      color: white;
      /* padding: 12px 20px; */
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 30vw;
      text-align: center;
    }
    .map,iframe{
      width: 100%;
      height: 50vh;
    }
    
   
  }
  /*----------------------------------------------footer--------------------------------------*/
  .footer{
    background-color: black;
    background-image: url(images/v915-wit-009-l.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
  }
  .logo1{
    width: 30vw;
    color: rgb(231, 155, 26);
    /* background-color: burlywood; */
  }
  .foo{
    width: 30vw;
    
   
  }
  p{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .icons{
    display: flex;
    align-items: center;
    /* background-color: rgb(223, 19, 19); */
    justify-content: space-evenly;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    width: 25vw;
    color:black;
  
  }
  .icons:hover{
    color: rgb(234, 119, 12);
  }
  
  a{
    margin: 10px;
    color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .foo1{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-top: -40px;
  
  }
  .foo2{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-top: 40px;
    width: 26%;
   
    align-items: center;
    height: 40vh;
  }
  input{
    margin-top: 20px;
    width: 20vw;
    height: 26px;
    border-radius: 10px;
  }
  .kl{
    margin: 20px;
    
  }
  .alo1{
    height: 26px;
    background-color: rgb(231, 155, 26);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    width: 4vw;
    border: 0px solid transparent;
    margin-left: -18px;
    border-radius: 10px;
  }
  h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    width: 100%;
  }
  @media only screen and (min-width:375px)and (max-width:1400px)  {
    .footer{
      background-color: black;
      background-image: url(images/v915-wit-009-l.jpg);
      width: 100%;
      height: 150vh;
      background-size: cover;
      background-position: center;
      /* opacity: 0.5; */
      display: flex;
      margin-top: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
     
    }
    .logo1{
      width: 80%;
      margin-bottom: 20px;
    }
    p{
      color: black;
      font-size: 15px;
    
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .foo{
      width: 100%;
      align-items: center;
      display: flex;
      margin-top: 30px;
    
      flex-direction: column;
      justify-content: center;
      
     
    }
    .foo1{
      display: flex;
      flex-direction: column;
      line-height: 20px;
      margin-top: -40px;
      align-items: center;
    
    }
    .foo2{
      display: flex;
      flex-direction: column;
      line-height: 20px;
      margin-top: 0px;
      width: 100%;
     
      align-items: center;
      height: 80vh;
    }
    .icons{
      display: flex;
      align-items: center;
      /* background-color: rgb(223, 19, 19); */
      justify-content: space-evenly;
      font-size: 40px;
      margin: 30px;
      cursor: pointer;
      width: 55vw;
      color:black;
    
    }
    .icons:hover{
      color: rgb(234, 119, 12);
    }
    input{
      margin-top: 20px;
      width: 70vw;
      height: 26px;
      border-radius: 10px;
    }
    .alo1{
      height: 26px;
      background-color: rgb(231, 155, 26);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 14px;
      width: 15vw;
      border: 0px solid transparent;
      margin-left: -40px;
      border-radius: 10px;
    }
    h2{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 14px;
      text-align: center;
      width: 100%;
      margin-top: -30px;
    }
  }
  